

.newsletter .grid-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.newsletter h2{
    max-width: 270px;
    margin-bottom: 20px;
}

.newsletter .box{
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 50px 60px;
}

.newsletter form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.newsletter form > div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
}

.newsletter form > div small{
    max-width: 175px;
}