.products{
    padding: 60px 0;
}

.products h2{
    margin-bottom: 30px;
}

.products li{
    padding: 30px;
    border-radius: 16px;
    border: 1px solid var(--color-black20);
}

.products li a{
    display: flex;
    flex-direction: column;
    gap: 5px;
}