.button{
    padding: 0 30px;
    height: 52px;

    background-color: var(--color-red);
    color: var(--color-white);

    font-family: var(--font-primary);
    font-size: 16px;
    font-style: italic;
    font-weight: 700;

    text-wrap: nowrap;

    transition: 0.4s;
}

.button:hover{
    filter: brightness(0.9);
}