.field{
    max-width: 100%;

    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-black);

    padding: 0 20px;
    height: 49px;

    background-color: var(--color-white);
    border: 1px solid var(--color-black20);
}

.field.full{
    width: 100%;
}