:root{
    --font-primary: "Inter", sans-serif;
    --color-red: #FC0909;
    --color-light-red: #FFE8E8; 
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-black20: rgba(0, 0, 0, 0.2);
    --color-gray: #F5F5F5;
}